@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
#logo-pagina img{
    width: 100px;
    height: 100px;
    border-radius: 20%;
}
#inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center ;

}
h1{
    display: flex;
    justify-content: center;
    align-items: center;

}
#n-mesas{
    border-radius: 5%;
    width: 100px;
    height: 30px;
}
#seccion-mesas{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mesas{
    display: flex;
    flex-wrap: wrap ;
    gap: 10px;

}
.clase-botones{
    width: 150px;
    height: 35px;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 17px;
}
.tarjeta-comidas{
    width: 150px;
    height: 60px;
    background-color: rgb(255, 183, 95);
    border-radius: 5%;
    display: flex;
    flex-direction:column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.tarjeta-mesas{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 183, 95);
    border-radius: 5%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.tarjeta-mesas img{
    width: 130px;
    height: 120px;
}
#id-mesa{
    margin: 5px;
}
input:checked + label {
    background-color: rgb(218, 143, 3);
}
#seccion-productos{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

#div-productos1{
    display: flex;
    gap: 10px;
}
#div-productos{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.input-comida, .input-mesas  {
    display:none;
}
#div-bebidas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:6px;
}
#div-bebidas img{
    width: 100px;
    height: 100px;
}
.boton-bebidas{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    width: 120px;
    margin-top: 10px;
    background-color: bisque;
    border: 1px dashed black;
    border-radius: 5%;
}
#contenedor{
    display: flex;

}
#div-resumen{
    flex: 1;
    background-color: bisque;
    padding: 20px;
    width: 20%;
    height: 400px;

}
#div-principal{
    flex:2;
    padding: 20px;
    width: 80%
}
#resumen{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 384px;
    background-color: white;
    border: 3px solid black;
    
}
@media (max-width: 400px){
    #div-productos1{
        display: flex;
        flex-direction: column;
    }
}
